canvas{
    border: 2px solid black;
    margin-left: 450px;
    margin-top: 60px;
    margin-bottom: 30px;
}
.number_of_objects{
    text-align: center;
    margin:10px auto;
    margin-left: ;
}